body {
  background-color: #f0e6ef;
  color: #1f1f1f;
}

.dark body {
  background-color: #1f1f1f;
  color: #e1e1e1;
}

.name-container {
  display: flex;
  margin: 4rem auto;
  justify-content: center;
  width: 80vw;
  height: 15vh;
}

.name-mask {
  stroke: #fff;
  stroke-width: 20;
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: strokeOffset 4.5s linear infinite alternate;
}

.name-paths {
  fill: #9c89b8;
}

.name-paths .name-underline {
  fill: #f0a6ca;
}

.dark .name-paths {
  fill: #b8bedd;
}

.dark .name-paths .name-underline {
  fill: #efc3e6;
}

@keyframes strokeOffset {
  0% {
    stroke-dashoffset: 3000;
  }
  95% {
    stroke-dashoffset: 650;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
