body {
  background-color: #1f1f1f;
  color: #e1e1e1;
}

.title {
  display: flex;
  margin: 4rem auto;
  justify-content: center;
  width: 80vw;
  height: 20vh;
}

.svg-mask {
  stroke: #e1e1e1;
  stroke-width: 20;
  fill: none;
  stroke-linecap: round;
  stroke-dasharray: 3000;
  stroke-dashoffset: 3000;
  animation: strokeOffset 4.5s linear forwards;
}

.paths {
  fill: #e1e1e1;
}

@keyframes strokeOffset {
  0% {
    stroke-dashoffset: 3000;
  }
  95% {
    stroke-dashoffset: 650;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
